.display {
    background-color: black;
    color: #ecdfef;
    height: 10vh;
    min-width: 100%;
    overflow: hidden;
}

.input {
    color: #7a640e;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 2px;
    margin: 0;
    text-align: right;
}

.result {
    color: #d4ad14;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-align: right;
}